/.idea/
/.phpunit.result.cache
/bin/
/composer.lock
/custom.task.properties
/custom.type.properties
/doc/
/test/TestDataLayer.php
/test/coverage.xml
/test/etc/columns.txt
/test/etc/routines.json
/test/report/
/vendor/
